<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2022_SS_650_2021_OF_601</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2022_SS_650_2021_OF_601.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <img src="~/img/logo_unicaes.png" alt="Libros" class="img-fluid" style="max-height: 100px;" />
                <h3 class="display-4 fw-bolder">Venta de libros </h3>
            </div>
        </div>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="bg-dark py-5 mt-auto">
        <footer class="container ">
            <div class="text-center text-white">
                &copy; 2025 - L02P02_2022_SS_650_2021_OF_601
                2022-SS-650-Rafael Alejandro Sandoval Salazar
            </div>
        </footer>
    </section>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
